.example-spacer {
  flex: 1 1 auto;
}

.btn {
  background-color: #6d84e2;
  padding: auto;
  margin: 5px;
  width: 100%;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

::ng-deep .mat-menu-panel.menuItem{
  max-width: 100vw;
  max-height: none;
  min-height: none;
  height: 500px;
}